.normal-card {
    grid-column-end: span 1;
}

.highlight-card {
    grid-column-end: span 1;
}

/* desktop-small */
@media all and (min-width: 481px) {
    .highlight-card {
        grid-column-end: span 2;
    }
}

.experience-card {
    height: 256px;
    height: 356px;
    width: 100%;
    height: fit-content;

    position: relative;

    text-overflow: ellipsis;

    border-top: 1px solid rgba(0, 0, 0, 1);

    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-top: 3px;
}

/* .experience-card:hover {
    box-shadow: 0 12px 28px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);
} */

.experience-info-bar {
    display: flex;
    flex-direction: row;
    overflow: scroll;

    box-sizing: border-box;
    width: 100%;
    height: 5%;
    z-index: 1;

    /* background-color: rgba(0, 0, 0, 0.50); */
    background-color: rgba(255, 255, 255, 0.8);
    color: white;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    /* position: absolute; */
    left: 0px;
    bottom: 0px;

    /* padding-left: 16px; */
    padding-right: 8px;
    margin-top: -10px;
    margin-bottom: -20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.experience-info-name {
    color: black;
}
.experience-info-labels {
    display: flex;
    flex-wrap: wrap;
}

.experiece-label-text {
    color: black;
}

/*  //////////////////////*/

.experience-details-text {
    line-height: 2em;
    color: #333;
}

.experience-details-title {
    color: #222;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5em;
}

.experience-details-subtitle {
    color: #222;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.5em;
}

.experience-details-description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.experience-details-main-links {
    display: flex;
    flex-direction: row;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 16px;
}

.experience-details-secondary-links {
    display: flex;
    flex-direction: row;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    margin-top: 16px;
    /* margin-bottom: 1%; */
}

.experience-details-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 24px;
}

/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .experience-details-dialog-container.margin {
        padding-top: 0px;
        padding-bottom: 16px;
    }

    .experience-details-title {
        font-size: 15px;
        line-height: 1.5em;
    }

    .experience-details-subtitle {
        font-size: 12px;
        line-height: 1.2em;
        margin-bottom: 24px;
    }

    .experience-details-text.padding {
        padding: 16px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .experience-details-dialog-container.margin {
        padding-top: 0px;
        padding-bottom: 16px;
    }

    .experience-details-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .experience-details-subtitle {
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 24px;
    }

    .experience-details-text.padding {
        padding: 16px;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .experience-details-dialog-container.margin {
        padding-top: 0px;
        padding-bottom: 32px;
    }

    .experience-details-text.padding {
        padding: 32px;
    }
}

/* desktop-large */
@media all and (min-width: 1281px) {
    .experience-details-dialog-container.margin {
        padding-top: 42px;
        padding-bottom: 80px;
    }

    .experience-details-text.padding {
        padding: 32px;
    }
}
